@import '../../../scss/_config.scss';

.m-groupitemdetailfooter {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.6rem;
	background: #f2f2f2;
	cursor: pointer;

	@extend %displayFlex;
	@extend %AlignCenter;
    @include flexJustifyContent(center);

	.footer-item {
		@extend %displayFlexCol;
		@extend %AlignCenter;
		height: 100%;
		padding-top: 0.1rem;
		padding-bottom: 0.04rem;
		cursor: pointer;

		.item {
			@extend %flexGrow;
			color: #fff;

			&.price {
				font-size: 0.18rem;
				margin-bottom: 0.04rem;
			}

			&.label {
				font-size: 0.14rem;

				.arrow {
					font-size: 0.16rem;
					font-family: monospace;
					font-weight: bold;
				}
			}
		}

		&:last-child {
			border-right: 0;
		}
	}
	.go-home {
		@include flex(0, 0, 0.8rem);
		min-width: 0.8rem;
		border-top: 1px solid #f2f2f2;
		background-color: #fff;
		font-size: 0.14rem;
		color: #565656;
		.icon-home {
			width: 0.22rem;
			height: 0.22rem;
			background-image: url(../../../../res/images/BottomBar/bottom_bar_icon@2x.png);
			background-size: 1.76rem 0.22rem;
			background-repeat: no-repeat;
			margin-bottom: 0.06rem;
		}
	}
}