@import '../_config.scss';
html, body {
	width: 100%;
    background-color: #f4f4f4;
}

.m-yqgetsuccess { 
   	text-align: center;
    .gift-detail {
        padding: 0.15rem;
        .detail-card {
            margin-top: 0.17rem;
            background-color: #fff;
            @extend %displayFlex;
            height: 1rem;
            .prdtImg {
                width: 1rem;
                height: 1rem;
            }
            .detail {
                @extend %flexGrow;
                @extend %displayFlex;
                @extend %AlignCenter;
                text-align: left;
                height: 100%;
                line-height: 0.18rem;
                padding: 0 0.09rem;
                font-size: 0.13rem;
                color: #333;
            }
            .quantity {
                line-height: 0.84rem;
                @extend %displayFlex;
                margin: 0.08rem 0;
                padding: 0 0.24rem;
                border-left: 1px dashed #cfcfcf;
                span {
                    font-size: 0.19rem;
                    color: #d84343;
                    margin-right: 0.04rem;
                }
            }
        }
    }
    .txt-prdt-end {
    	margin: 0 auto 0.75rem;
    	font-size: 0.14rem;
    	color: #ccc;
    	&:before, &:after {
    		padding-bottom: 0.05rem;    		
    		content: '';
    		display: inline-block;
    		width: 0.67rem;
    		border-top: 1px solid #ccc;
    	}
    }
    .official-accounts {
	    .QR-code {
	    	width: 1.6rem;
	    	height: 1.6rem;
	    	background-image: url(../../../res/images/YQGift/QRcode.png);
	    	background-size: 1.6rem 1.6rem;
	    	margin: 0 auto 0.14rem;
	    }
	    .text {
	    	font-size: 0.13rem;
	    	color: #333;
	    }
	}
	.btn-share {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		line-height: 0.5rem;
		font-size: 0.16rem;
		color: #fff;
		background-color: #d84343;
	}
}