@import '../../../scss/_config.scss';

.m-YQGiftStatus {
    height: 100%;
    background-color: #f4f4f4;
    .gift-detail {
        padding: 0.17rem 0.17rem 0.3rem;
        background-color: #d84343;
        margin-bottom: 0.1rem;
        position: relative;
        .detail-status {
            @extend %displayFlex;
            margin-bottom: 0.17rem;
            .txt-remain {
                @extend %flexGrow;
                font-size: 0.19rem;
                color: #ffe8c5;
                line-height: 0.8rem;
            }
            .icon {
                margin-right: 0.15rem;
                width: 0.8rem;
                height: 0.8rem;
                background-size: 0.8rem 0.8rem;
                &.img-run-out {
                    background-image: url(../../../../res/images/YQGift/icon_run_out.png);
                }
                &.img-expired {
                    background-image: url(../../../../res/images/YQGift/icon_expired.png);

                }
            }
            .btn-go-treat {
                margin-top: 0.2rem;
                display: block;
                padding: 0 0.15rem;
                height: 0.4rem;
                line-height: 0.4rem;
                background-color: #f0ddc0;
                border: 0;
                border-radius: 0.2rem;
                color: #cf3a3f;
                font-size: 0.15rem;
            }
        }
        .user-name {
            font-size: 0.14rem;
            color: #fff;
            margin-bottom: 0.06rem;
        }
        .detail-card {
            background-color: #fff;
            @extend %displayFlex;
            height: 1rem;
            .prdtImg {
                width: 1rem;
                height: 1rem;
            }
            .detail {
                @extend %flexGrow;
                @extend %displayFlex;
                @extend %AlignCenter;
                height: 100%;
                line-height: 0.18rem;
                padding: 0 0.09rem;
                font-size: 0.13rem;
                color: #333;
            }
            .quantity {
                line-height: 0.84rem;
                @extend %displayFlex;
                margin: 0.08rem 0;
                padding: 0 0.24rem;
                border-left: 1px dashed #cfcfcf;
                span {
                    font-size: 0.19rem;
                    color: #d84343;
                    margin-right: 0.04rem;
                }
            }
        }
        .icon-triangle {
            position: absolute;
            bottom: 0;
            left: 0.55rem;
            border-bottom: 0.1rem solid #f4f4f4;
            border-right: 0.1rem solid transparent;
            border-left: 0.1rem solid transparent;
        }
    }
    .m-load-more {
        background-color: #f4f4f4;
    }
}