@import '../../../scss/_config.scss';


        .lucky-item {
            @extend %displayFlex;
            background-color: #fff;
            margin-bottom: 1px;
            padding: 0.15rem;
            .head-img {
                width:0.4rem;
                height:0.4rem;
                margin-right: 0.15rem;
                img {
                    width:0.4rem;
                    height:0.4rem;
                    border-radius: 50%;
                }
            }
            .content {
                @extend %flexGrow;
                margin-right: 0.15rem;
                @extend %displayFlex;
                @include flexDirection(column);
                @include flexJustifyContent(space-around);
                .nick-name {
                    font-size: 0.15rem;
                    color: #333;
                    margin-bottom: 0.06rem;
                }
                .seckill-time {
                    font-size: 0.13rem;
                    color: #aaa;
                }
            }
            .lucky-quantity {
                font-size: 0.15rem;
                color: #333;
            }
        }