@import '../../../scss/_config.scss';
.m-cart {
  padding-bottom: 0.59rem;
}

.listHead {
  color: #222;
  display: flex;
  height: 0.44rem;
  padding: 0 0.11rem;
  align-items: center;
  border-bottom: 0.005rem solid #E2E7EA;
  background-color: #fff;
  font-size: 0.13rem;
  .label {
    flex: 1;
  }
  .clearbutton {
    width: 0.6rem;
    height: 0.26rem;
    text-align: center;
    line-height: 0.26rem;
    border: 1px solid #41444e;
    border-radius: 0.02rem
  }
  .shopName {
  }
  .icon-shop {
    margin: 0 0.05rem 0 0.1rem;
  }
}

.m-list-cart {
  background-color: #fff;
  li {
    @extend %displayFlex;
    margin: 0 0.11rem;
    &:not(:last-child){
      border-bottom: 0.005rem solid #e2e7ea;
    }
    .m-prdtItem {
      @extend %flexGrow;
      margin-left: 0.1rem;
    }
    .select {
      @include flex(0, 0);
      position: relative;
      width: 0.21rem;
      i {
        position: absolute;
        top: 50%;
        margin-top: -0.09rem;
      }
    }
  }
}

.m-prdtList-valid {
  background-color: #efeff4;
  &:not(:first-child) {
    padding-top: 0.1rem;
  }
}
.m-prdtList-invalid {
  background-color: #efeff4;
  padding-top: 0.1rem;
  .m-list-cart {
    color: #ccc;
    .icon-select, .icon-unselect {
      display: none;
    }
  }
}

.m-prdtList-valid {
  .m-action {
    .row {
      margin-bottom: 0;
      padding-bottom: 0.06rem;
    }
    background-color: #fff;
    padding-left: 0.15rem;
    padding-bottom: 0;
  }
}

.m-cartFoot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.49rem;
  background-color: #fff;
  z-index: 100;
  border-top: 0.005rem solid #e2d7ea;
  border-bottom: 0.005rem solid #e2e7ea;
  display: flex;
  align-items: center;
  color: #222;
  .choose {
    padding-left: 0.11rem;
    min-width: 0.64rem;
    display: flex;
    span {
      margin-left: 0.05rem;
      line-height: 0.18rem;
    }
  }
  .pay {
    width: 1.3rem;
    height: 0.49rem;
    line-height: 0.49rem;
    text-align: center;
    font-size: 0.14rem;
    background-color: #ffe123;
  }
  .price {
    flex: 1;
    margin-left: 0.1rem;
    margin-top: -0.01rem;
    font-size: 0.13rem;
    line-height: 0.19rem;
    .big {
      font-size: 0.16rem;
      color: #ff3600;
    }
    .small {
      font-size: 0.13rem;
      color: #ff3600;
    }
    padding-right: 0.09rem;
  }
}

.m-cartFoot.cart-pending {
  .pay {
    background-color: #ccc;
    color: #fff;
  }
}

.m-cartFoot.cart-invalid {
  .pay {
    background-color: #ccc;
    color: #fff;
  }
}
