@import '../../../scss/_config.scss';

.m-jg-prdt {
	@extend %displayFlex;
	padding: 0 0.06rem;
	height: 0.9rem;
	border-bottom: 1px solid #e5e5e5;
	background: #fff;

	.prdt-img {
		@include flexWeight(1);

		img {
			width: 0.9rem;
			height: 0.9rem;
		}
	}

	
	.prdt-detail {
		@include flexWeight(4);
		@extend %displayFlexCol;
		margin-top: 0.1rem;

		.name {
			@include lineMore(2);
			color: #222222;
		}

		.desc {
			margin-top: 0.05rem;
			@include lineMore(1);
			color: #666666;
		}

		.price {
			margin-top: 0.05rem;

			.pay-price {
				color: #ff3600;
				font-size: 0.12rem;
				margin-right: 0.05rem;

				b {
					font-size: 0.15rem;
				}
			}

			.origin-price {
				text-decoration: line-through;
				font-size: 0.12rem;

				b {
					font-size: 0.15rem;
				}
			}

		}
	}
}