@import '../../../scss/_config.scss';

.m-count-down {
	text-align: center;
	height: 0.4rem;
	line-height: 0.4rem;

	.board {
		display: inline-block;
		margin: 0 0.1rem;

		span {
			display: inline-block;
			font-size: 0.16rem;

			&.time {
				width: 0.28rem;
				height: 0.28rem;
				text-align: center;
				line-height: 0.28rem;
				border-radius: 0.04rem;
				color: #fff;
				background: #444;
			}

			&.colon {
				margin: 0 0.02rem;
				color: #222;
				font-weight: bold;
			}

		}
	}
}