@import '../../../scss/_config.scss';

.m-groupskudetailbody {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.6rem;
	cursor: pointer;

	@extend %displayFlex;
	@extend %AlignCenter;
    @include flexJustifyContent(center);

	
}