$ration: 2;
.img {
  &.pay-success {
    background-image: url(../../../../res/images/PayStatus/icon-success@2X.png);
  }
  &.pay-fail {
    background-image: url(../../../../res/images/PayStatus/icon-fail@2X.png);
  }
}