$ration: 3;
.img {
  &.pay-success {
    background-image: url(../../../../res/images/PayStatus/icon-success@3X.png);
  }
  &.pay-fail {
    background-image: url(../../../../res/images/PayStatus/icon-fail@3X.png);
  }
}