@import '../../../scss/_config.scss';

.m-protocol {
  padding-left: 0.15rem;
  height: 0.37rem;
  line-height: 0.37rem;
  background-color: #efeff4;
  color: #666;
  font-size: $font-size-sm;
  border-bottom: 1px solid #e2e7ea;
  .checkbox {
    margin-right: 0.1rem;
    margin-top: 0.03rem;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../../../../res/images/ConfirmOrder/icon/uncheck_box@3X.png) no-repeat;
    background-size: 15px;
    background-position: 0;

    &.active {
      background: url(../../../../res/images/ConfirmOrder/icon/check_box@3X.png) no-repeat;
      background-size: 15px;
      background-position: 0;
    }
  }
  a{
    color:#666;
  }
}