@import '../../../scss/_config.scss';

.u-noaddress, .u-hasaddress {
  display: flex;
}

.u-noaddress {
  margin: 0 0.15rem 0 0.18rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: $font-size-lg;
  .radio, .arrow {
    align-self: center;
  }
  .radio {
    margin-right: 0.08rem;
  }
  .label {
    flex: 1;
  }
}

.u-hasaddress {
  margin: 0.2rem 0.15rem 0.2rem 0.18rem;
  font-size: $font-size-lg;
  .wrap {
    display: flex;
    flex:1;
    .address-detail {
      margin: 0 0.1rem;
      flex:1;
      .userinfo {
        margin-bottom: 0.1rem;
        .phone {
          margin: 0 0.1rem 0 0.15rem;
        }
        .default {
          display: inline-block;
          padding: 2px 0;
          font-size: $font-size-sm;
          width: 0.37rem;
          text-align: center;
          color: #2ac1bc;
          border: 1px solid #2ac1bc;
          border-radius: 10px;
        }
      }
      .address {
        line-height: 1.3;
        width:2.97rem;
        word-break:break-all;
        @extend %two-line-more;
        span {
          margin-right: 0.09rem;
        }
        font-size: $font-size-sm;
        color: #8d919c;
      }
    }
  }
  .radio, .arrow {
    flex-shrink: 0;
    align-self: center;
  }
}

.u-nodelivery {
  display:none;//隐藏自提
  border-top: 1px solid #e2e7ea;
  @extend .u-noaddress;
}