@import '../_config.scss';
html, body {
	width: 100%;
}

.m-deliveryaddr { 
	.cover-disabled {
		display: none;
		&.show {
			display: block;
		}
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
	}
}