$ration: 3;
.sprite {
  background-image: url(../../../res/images/DeliveryAddr/routeList_icon@3x.png);
  background-repeat: no-repeat;
  background-size: 0.32rem 0.16rem;
  display: block;
}

.icon-delete {
  width: 0.2rem;
  height: 0.2rem;
  background-position: -0.16rem 0;
}

.icon-shop {
  background-image: url(../../../res/images/Cart/operate@3x.png);
  width: 0.15rem;
  height: 0.14rem;
  background-size: 0.35rem 0.14rem;
  background-position: 0 0;
}

// .icon-arrow {
//   width: 14px/$ration;
//   height: 22px/$ration;
//   background-position: -0.16rem 0;
// }

.icon-select {
  background-image: url(../../../res/images/Common/group_radio_select@3x.png);
  width: 0.18rem;
  height: 0.18rem;
  background-size: 0.17rem 0.17rem;
}

.icon-unselect {
  background-image: url(../../../res/images/Common/group_radio_not_select@3x.png);
  width: 0.18rem;
  height: 0.18rem;
  background-size: 0.17rem 0.17rem;
}

.icon-delete-gray {
  width: 30px/$ration;
  height: 32px/$ration;
  background-position: -0.16rem 0;
}

.icon-back {
  width: 20px/$ration;
  height: 36px/$ration;
  background-position: -0.16rem 0;
}