@import '../../../scss/_config.scss';
.m-groupmemberlist {
	.groupmember-header {
		background: #fff;
		margin-top: 0.1rem;
		padding: 0.1rem 0.11rem;
		border-bottom: 1px solid #ccc;
	}

	.groupmember-body {
		background: #fff;
		padding: 0.1rem;

		.m-member-info {
			position: relative;
			margin-bottom: 0.1rem;
			border-radius: 0.25rem;
			height: 0.5rem;
			background: #f9f9f9;
			overflow: hidden;

			.facebook {
				position: absolute;
				left: 0.02rem;
				top: 0.02rem;
				width: 0.46rem;
				height: 0.46rem;
				border-radius: 50%;
				background: #ddd;
			}
			
			.info {
				height: 100%;
				@extend %displayFlex;

				.basic-info {
					@include flexWeight(5);

					@extend %displayFlexCol;
					@extend %AlignCenter;
					border-right: 1px solid #ddd;
					
					.label {
						@extend %displayFlexCol;
						@extend %flexGrow;
						@extend %AlignCenter;
						@include flexJustifyContent(center);
						padding-left: 0.3rem;
						padding-right: 0.05rem;

						.name,
						.original-place {
							@extend %flexGrow;
							width: 100%;
							text-align: left;
						}

						.name {
							font-size: 0.14rem;
							padding-top: 0.07rem;
							color: #000;
							max-width: 0.8rem;
							white-space: nowrap;
					        text-overflow: ellipsis;
					        overflow: hidden;
						}

						.original-place {
							color: #999;
						}
					}

				}
				.remain {
					@extend %displayFlex;
					
					@include flexWeight(5);

					@extend %AlignCenter;
					@include flexJustifyContent(center);
					padding-left: 0.15rem;
					font-size: 0.14rem;

					.label {
						@extend %flexGrow;
						@extend %AlignCenter;
						@include flexJustifyContent(center);

						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
				.btn {
					@extend %displayFlex;
					
					@include flexWeight(3);

					@extend %AlignCenter;
					@include flexJustifyContent(center);
					background: #ffe123;
					color: #222;

					.label {
						@extend %flexGrow;
						@extend %AlignCenter;
						@include flexJustifyContent(center);
						text-align: center;
						font-size: 0.14rem;
					}
				}
			}
		}
	}
}