@import '../../../scss/_config.scss';

.u-paychannel-1, .u-paychannel-2 {
  padding: 0.11rem 0.15rem;
  //.wrap {
  //  border-bottom: 1px solid #e2e7ea;
  //}
  .radio {
    vertical-align: text-bottom;
    width: 21px;
    height: 21px;
    display: inline-block;
    background: url(../../../../res/images/ConfirmOrder/icon/radio_icon@3X.png) no-repeat;
    background-size: 63px 21px;
    background-position: -42px;
  }


  .wx {
    margin-left: 0.1rem;
    vertical-align: text-bottom;
    width: 23px;
    height: 23px;
    display: inline-block;
    background: url(../../../../res/images/ConfirmOrder/icon/poi_wx_icon@3X.png) no-repeat;
    background-size: 41px 23px;
    background-position: -18px;
  }
  .label {
    font-size: $font-size-lg;
    .zhifubao, .weixin {
      margin-right: 0.04rem;
      vertical-align: text-bottom;
    }
  }
}
