@import '../../../scss/_config.scss';

.m-list {
  background-color: #efeff4;
  .item {
    float: left;
    width: 1.575rem;
    &:nth-child(odd) {
      width: 1.625rem;
    }
  }
}
.m-no-more {
  font-size: 0.12rem;
  line-height: 0.52rem;
  color: #afafaf;
  text-align: center; 
}

.m-loading {
  width: 100%;
  padding-top: 0.1rem;
  font-size: 0.14rem;
  margin-right: 0.05rem;
  text-align: center;
  height: 10rem;
  .fa-spinner::after {
	display: inline-block;
	font-family: 'FontAwesome';
	content: '\f110';
  }
  .fa-spin::after {
	animation: fa-spin 2s infinite linear;
  }
}
