@import '../../../scss/_config.scss';

.m-invoice {
  background: #fff;
  margin-bottom: 0.1rem;

  h1 {
    padding-left: 0.15rem;
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 1px solid #e2e7ea;
    .checkbox {
      vertical-align: text-top;
      margin-right: 0.04rem;
      margin-top: 0.04rem;
      width: 15px;
      height: 15px;
      display: inline-block;
      background: url(../../../../res/images/ConfirmOrder/icon/uncheck_box@3X.png) no-repeat;
      background-size: 15px;
      background-position: 0;

      &.active {
        background: url(../../../../res/images/ConfirmOrder/icon/check_box@3X.png) no-repeat;
        background-size: 15px;
        background-position: 0;
      }
    }
  }
  .invoice-detail {
    padding: 0 0.15rem 0 0.14rem;
    border-bottom: 1px solid #E2E7EA;
    .invoice-type {
      display: flex;
      height: 0.5rem;
      line-height: 0.5rem;
      border-bottom: 1px solid #E2E7EA;
      .radio {
        margin-right: 0.07rem;
        vertical-align: text-bottom;
        width: 21px;
        height: 21px;
        display: inline-block;
        background-size: 63px 21px;
        background-position: 0;

        &.active {
          background-position: -21px;
        }
      }
      .person {
        margin-right: 0.26rem;
      }
      .type {
        color: #000;
        margin-right: 0.23rem;
      }
    }
    .invoice-title {
      height: 0.5rem;
      line-height: 0.5rem;
      input[type="text"] {
        width: 2.1rem;
        border: none;
        &:disabled {
          background-color: #fff;
        }
      }
      .title {
        color: #000;
        margin-right: 0.22rem;
      }
    }
  }
}