@import '../_config.scss';
html, body {
	width: 100%;
	height: 100%;
	background-color: #f4f4f4;
}

.m-yqprdtlist { 
	.base-list-item {
		display: inline-block;
	}
}

.m-load-more {
	background-color: #f4f4f4 !important;
}