@import '../../../scss/_config.scss';

.m-radio {
  height: 0.5rem;
  line-height: 0.5rem;
  margin: 0 0.15rem 0 0.18rem;
  border-bottom: 1px solid #e2e7ea;
  &:last-child {
    border-bottom: none;
  }
  .u-label {
    font-size: $font-size-lg;
    input[type='radio'] {
      @extend %input-style;
      margin-right: 0.08rem;
    }
  }
}
