@import '../../../scss/_config.scss';

.m-param {
	.param-row {
		padding-bottom: 0.1rem;

		h2 {
			margin-bottom: 0.05rem;
		}

		.param-item {
			float: left;
			text-align: center;
			position: relative;

			&.block {
				>span {
					display: inline-block;
					cursor: pointer;
					font-size: 0.12rem;
				    height: 0.3rem;
				    line-height: 0.26rem;
				    width: 96px;
					border: 2px solid #ccc;
					border-radius: 0.04rem;
					color: #ccc;

					&.active {
						color: #ccc;
					}
				}

				.tag {
					display: none;

					&.active {
						display: none;
					}
				}
			}


			>span {
				display: inline-block;
				cursor: pointer;
				font-size: 0.12rem;
			    height: 0.3rem;
			    line-height: 0.26rem;
			    width: 96px;
				border: 2px solid #ccc;
				border-radius: 0.04rem;

				transition: all .3s ease-in-out;
				-webkit-transition: all .3s ease-in-out;

				&.active {
					border: 2px solid #ff3600;
					color: #333;
				}

			}

			.tag {
				display: none;
				position: absolute;
				bottom: 1px;
				right: 1px;
				width: 0.14rem;
				height: 0.14rem;
				padding: 0;
				border-radius: 0;
				border: 0;
				background: url(../../../../res/images/ItemDetail/detail_select_btn@3x.png) no-repeat;
				background-size: contain;

				&.active {
					border: 0;
					display: block;
				}
			}
		}
	}

}