@import '../../../scss/_config.scss';

.m-group-members {
	width: 100%;
	background-color: #eee;
	padding: 0.5rem 0.22rem 0.55rem;
	.members-list {
		width: 2.9rem;
		&:after {
			content: "";
			display: block;
			clear: both;
		}
		.list-img {
			float: left;
			position: relative;
			margin: 0 0.13rem 0.13rem 0;
			width: 0.45rem;
			height: 0.45rem;
			border: 0.02rem solid #fff;
			border-radius: 50%;
			&.no-member {
				background-size: 0.41rem 0.41rem;
				background-image: url(../../../../res/images/Common/xiaohuisetouxiang@2x.png);
				@media only screen and (min-width: 1125px) {
					background-image: url(../../../../res/images/Common/xiaohuisetouxiang@3x.png);
				}
			}
			img {
				width: 0.41rem;
				height: 0.41rem;
				border-radius: 50%;
			}
			span {
				position: absolute;
				top: -0.05rem;
				right: -0.12rem;
				width: 0.25rem;
				height: 0.1rem;
				line-height: 0.1rem;
				border: 0.01rem solid #fff;
				border-radius: 0.1rem;
				font-size: 0.08rem;
				color: #fff;
				background-color: #fa9849;
				text-align: center;
			}
		}
	}
	.members-text {
		padding-top: 0.1rem;
		font-size: 0.13rem;
		color: #666;
		text-align: center;
	}
}