@import '../_config.scss';

$main-yellow-color: #ffe123;
$main-gray-color: #dedede;
.m-phonebind { 
	padding: 0.2rem;
	.m-fill-info{
	   	color: #999;
	   	line-height: 0.46rem;
	   	font-size: 0.13rem;
		.phone {
			@extend %displayFlex;
   			@include flexJustifyContent(space-between);
		   	border-bottom: 0.01rem solid $main-gray-color;
			padding-top: 0.1rem;
			.fill-phone {
				@extend %flexGrow;
				@extend %displayFlex;
		   		label{
		   			min-width: 0.66rem !important;
					display: block;
		   		}
				input{
					@extend %flexGrow;
					max-width: 1rem;
					border: 0;
				}
			}
			.btn-send {
				.border {
					margin-top: 0.07rem;
					text-align: center;
					padding: 0 0.1rem;
					line-height: 0.3rem;
					height: 0.3rem;
					border: 0.01rem solid $main-gray-color;
					border-radius: 0.02rem;
				}
				&.enabled {
					.border {
						color: #222;
						border: 0.01rem solid #222;
					}
				}
			}
		}
		.code {
			padding-top: 0.1rem;
		   	border-bottom: 0.01rem solid $main-gray-color;
			@extend %displayFlex;
	   		label{
	   			min-width: 0.66rem !important;
				display: block;
	   		}
			input{
				@extend %flexGrow;
				max-width: 1.04rem;
				border: 0;
			}
		}
		.btn-bind {
			margin: 0.1rem 0 0;
			font-size: 0.15rem;
			width: 100%;
			border-radius: 0.02rem;
			text-align: center;
			background-color: $main-yellow-color;
			color: #222;
		}
	}
}