@import '../../../scss/_config.scss';

.m-selfpickedlist {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	
	.mask {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.5;
	}

	.u-selfpickedlist {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2.5rem;
		background: #fff;
		overflow: auto;

		.u-header {
			padding: 0.2rem 0.11rem;
			border-bottom: 1px solid #ccc;

			.label {
				float: left;
			}

			.confirm {
				float: right;
				color: #0099ff;
			}
		}

		.u-body {
			.u-pickedlist {
				padding: 0 0 0 0.11rem;

				.pickedlist-item {
					height: 0.4rem;
					line-height: 0.4rem;
					border-bottom: 1px solid #ccc;
					@extend %displayFlex;

					.col-left {
						@extend %displayFlex;
						@include flexWeight(1);
						@include flexJustifyContent(center);
						@extend %AlignCenter;
						.radio {
							vertical-align: text-bottom;
						    width: 0.18rem;
						    height: 0.18rem;
						    display: inline-block;
						    background: url(../../../../res/images/ConfirmOrder/icon/radio_icon@3X.png) no-repeat;
						    background-size: 0.54rem 0.18rem;
						    background-position: 0;
							
							&.checked {
								background-position: -0.18rem;
							}
						}
					}

					.col-right {
						@include flexWeight(5);
						@include lineMore(2);
						padding: 0 0.11rem;

						display: flex;
						-webkit-display: flex;

						.info {
							@include flexWeight(1);	
							@include lineMore(2);	
							@include flexJustifyContent(center);
						}
					}
				}
			}
		}
	}
}