.m-bottom-bar{
    	
    	position: fixed;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	height:0.5rem;
    	line-height:0.5rem;
    	background-color: #fff;
    	
    	&:before {
    		content: '';     
	    	position: absolute;     
	    	left: 0;     
	    	width: 100%;     
	    	height: 1px;     
	    	-webkit-transform: scaleY(0.5);             
	    	transform: scaleY(0.5);     
	    	-webkit-transform-origin: 0 0;             
	    	transform-origin: 0 0; 
	    	background: #ccc;

    	}
    	>div{
    		display: inline-block;
    		text-align: center;
    		font-size: 0.16rem;
			color: #d84343;
			&.bar-home-send {
				width:61.333333%;
			}

			&.bar-gift-receive {
				width:38.666667%;
			}
			
			span {
				display:block;
				width:100%;
				height: 0.5rem;
    			line-height: 0.5rem;

				&.active{
					background: #d84343;
					color:#fff;
				}
			}
    		
    	}
}