@import '../../../scss/_config.scss';

.m-shopInfo {
  .address-wrap {
    display: flex;
    margin: 0.2rem 0.2rem 0;
    padding-bottom: 0.13rem;
    border-bottom: 1px solid #e2e7ea;
    .icon-location {
      align-self: center;
      margin-right: 0.09rem;
    }
    .address {
      flex: 1;
      border-right: 1px solid #e2e7ea;
      font-weight: 300;
      .distance {
        font-size: $font-size-sm;
        margin-top: 0.06rem;
        font-weight: 300;
        .dis-value {
          color: #18b614;
        }
      }
    }
    .navigation-wrap {
      margin-left: 0.2rem;
      text-align: center;
      .icon-navigation {
        margin-bottom: -0.03rem;
      }
      .navigation {
        display: block;
        font-size: $font-size-sm;
        color: #2ac1bc;
        margin-top: 0.08rem;
      }
    }

  }

  .opentiem-wrap {
    margin-left: 0.2rem;
    .icon-opentime {
      margin-right: 0.09rem;
      vertical-align: sub;
    }
    .opentime {
      height: 0.5rem;
      line-height: 0.5rem;
      font-weight: 300;
    }
  }

}










