$ration: 2;
.my-profile-userInfo{
	background-image: url(../../../res/images/MyProfile/bg_login@2x.png)
}
.my-profile-order{
	.icon{
		background-image: url(../../../res/images/MyProfile/order_icon@2x.png)
	}
}
.my-profile-items{
	.item-head-icon{
		background-image: url(../../../res/images/MyProfile/order_icon@2x.png)
	}
	.item-arrows-icon{
		background-image: url(../../../res/images/list_icon@2x.png)
	}
}
.my-profile-userInfo{
	.head-img{
		background-image: url(../../../res/images/MyProfile/kongtoux@2x.png)
	}
}