@import '../_config.scss';
html, body {
	width: 100%;
	background-color: #f13e42;
}
.m-springfestival {
	.head-img {
		width: 3.2rem;
		height: 1.92rem;
		background-image: url(../../../res/images/SpringFestival/head_img.jpg);
		background-size: 3.2rem;
	}
	.bar {
		&.hide {
			display: none;
		}
		width: 3.2rem;
		height: 0.61rem;
		background-image: url(../../../res/images/SpringFestival/bar.png);
		background-size: 3.2rem;
		padding: 0 0.05rem 0 0.15rem;
		@extend %displayFlex;
		>a {
			display: block;
			@include flex(0, 0, 25%);
			max-width: 25%;
			.icon {
				height: 0.15rem;
				margin-top: 0.15rem;
				background-image: url(../../../res/images/SpringFestival/bar_item.png);
				background-size: 3.2rem;
				background-repeat: no-repeat;
				overflow: hidden;
			}
			&.bar-item-1 {
				.icon {
					background-position: -0.12rem -0.19rem;
				}
				&.active {
					.icon {
						background-position: -0.12rem 0;
					}
				}
			}
			&.bar-item-2 {
				.icon {
					background-position: -1.6rem -0.19rem;
				}
				&.active {
					.icon {
						background-position: -1.6rem 0;
					}
				}
			}
			&.bar-item-3 {
				.icon {
					background-position: -0.87rem -0.19rem;
				}
				&.active {
					.icon {
						background-position: -0.87rem 0;
					}
				}
			}
			&.bar-item-4 {
				.icon {
					background-position: -2.35rem -0.19rem;
				}
				&.active {
					.icon {
						background-position: -2.35rem 0;
					}
				}
			}
		}
	}
	.m-block {
		.m-title {
			width: 3.2rem;
			height: 0.49rem;
			background-image: url(../../../res/images/SpringFestival/title.png);
			background-size: 3.2rem;
		}
		.m-list { 
			background-color: #f13e42;
			li {
				background-color: #f13e42;
			}
		}
	}
}