@import '../_config.scss';

body {
	background-color: #eee;
}
.m-group-status {
	.m-btn-more {
		position: fixed;
		bottom: 0;
		display: block;
		width: 100%;
		padding: 0.12rem;
		background-color: rgba(0, 0, 0, 0.65);
		div {
			background-color: #ffe123;
			border-radius: 0.02rem;
			text-align: center;
			line-height: 0.4rem;
			font-size: 0.15rem;
			color: #222;
		}
	}

    .m-footer {
        
    }
}