@import '../../../scss/_config.scss';

.m-item-modal-foot {
  display: flex;
  height: 0.49rem;
  line-height: 0.49rem;
  align-items:center;
  border-top: 1px solid #E2E7EA;
  font-size: $font-size-lg;
  text-align: center;
  .buy, .cart {
    width: 1.085rem;
  }
  .buy {
    color: #2ac1bc;
  }
  .cart {
    color: #fff;
    background-color: #17ABA6;
  }
  .icon-less{
    display:block;
  }
  .icon-more{
    display:block;
  }
}