@import '../../../scss/_config.scss';

$main-gray-color: #e6e6e6;

	.m-list {
		background-color: #fff;
		overflow: hidden;
		li {
			display: block;
			background-color: #fff;
			img {
				display: block;
			}
		}
		
		.m-slider {
			height: 1.62rem !important;
		}

		&.row1 {
			li {
				width: 100% ;
			}
		}

		&.row1Border {
			li {
				width: 100% ;
				&:not(:last-child):after {
					content: '';
					display: block;
					margin: 0 0.12rem;
					border-bottom: 1px solid $main-gray-color;
				}
			}
		}

		&.row2 {
			@extend %displayFlex;
			@include flexWrap(wrap);
			li {
				display: block;
				@include flex(0, 0, 50%);
				max-width: 50% ;
				min-width: 50% ;
			}
		}

		&.row2Border {
			li {
				box-sizing: content-box;
				-moz-box-sizing: content-box;
				-webkit-box-sizing: content-box;
				float: left;
				border-bottom: 1px solid $main-gray-color;
				width: 1.59rem ;
				&.with-right-border{
					border-right: 1px solid $main-gray-color;
				}
			}
		}
	}
