@import '../_config.scss';
html, body {
	width: 100%;
	background: #f4f4f4;
}

.m-yqgift { 
    .m-body {
        margin-top:0.15rem;
        padding-bottom: 0.5rem;

        .m-load-more {
            background: #f4f4f4;
        }
    }

    .m-footer {
        
    }
}