.m-qsku-list {
	position:relative;
	height:2.45rem;

	background: #cf3a3f;

	.m-product-list {
		position:relative;
		height:1.0rem;
		margin-left: 0.15rem;
    	margin-right: 0.15rem;
		background: #fff;

		img{
			float:left;
			display:inline-block;
			width:1.0rem;
			height:1.0rem;
			margin-right: 0.09rem;
		}

		.title {
			position: absolute;
		    top: 50%;
		    margin-left: 1.09rem;
		    -webkit-transform: translate3d(0,-50%,0);
		    transform: translate3d(0,-50%,0);
			width:calc(100% - 1.9rem);
			width:-webkit-calc(100% - 1.9rem);
			line-height:0.2rem;
			padding-right:0.09rem;
			color:#333;
			font-size:0.13rem;
		}

		.alink_look {
			float: right;
		    height: 0.84rem;
		    line-height: 0.84rem;
		    width: 0.8rem;
		    margin-top: 0.08rem;
		    margin-bottom: 0.08rem;
		    text-align: center;
		    border-left: 1px dashed #cfcfcf;
		    color: #d84343;
		    font-size: 0.15rem;
		}
	}

	.tip {
		text-align: center;
		height:0.82rem;
		padding-top:0.32rem;
		margin-bottom:0.32rem;
		color:#ffe8c5;
		font-size:0.19rem;

		& span{
			position: relative;
			top:-15px;
		}
	}
    
    .icon_gift {
    	display: inline-block;
    	width:0.5rem;
    	height:0.5rem;
    	margin-right: 0.115rem;
    }

    .arrow {
    	position:absolute;
    	bottom:-0.01rem;
    	left: 14.8%;
    	display:inline-block;
		width:0;
		height:0;
		border-bottom:0.09rem solid #f4f4f4;
		border-left:0.09rem solid transparent;
		border-right:0.09rem solid transparent;
    }


}
