html, body {
	width: 100%;
    height: 100%;
}
.m-groupskudetail { 
    padding-bottom: 0.6rem;
    
    .m-header {
        img {
            width: 100%;
            height: 1.6rem;

            &.header-image {
                background-image: url(../../../res/images/GroupSkuDetail/group_list_img_top@3x.png) no-repeat;
                background-size: contain;
            }
        }
    }

    .m-body {
        background: #eeeeee;
        .m-play-intro {
        	position: relative;
        	padding: 0.06rem 0.02rem;
        	height: 0.32rem;
        	line-height: 0.2rem;
        	border-top: 1px solid #d5d5d5;
        	border-bottom: 1px solid #d5d5d5;
        	text-align: center;

        	.arrow {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate3d(0, -50%, 0);
				-webkit-transform: translate3d(0, -50%, 0);
				width: 0.2rem;
				height: 0.2rem;
				line-height: 0.2rem;
				text-align: center;
        	}
        }

        .m-group-more {
            background: #eeeeee;
            color: #afafaf;
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            text-align: center;
        } 
    }

    .m-footer {
        border-top: 1px solid #dddddd;
    }
}