.m-tab {
	position: relative;
	margin: 0;
	display: flex;
	background: #f0eff5;
	padding-bottom: 0.1rem;

	.tab-item {
		position: relative;
		overflow: hidden;
		height: 0.4rem;
		line-height: 0.4rem;
		font-size: 0.13rem;
		color: #222;
		background: #fafafa;
		font-weight: 400;
		flex: 1;
		text-align: center;
		border-right: 1px solid #e5e5e5;

		transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out;
	
		&.active {
			color: #222222;
			background: #fff;
		}
	}

	li:last-of-type {
		border: 0;
	}

	.h-bar {
		position: absolute;
		bottom: 8px;
		width:0;
		height: 3px;
		background: #ffd200;
	}

}